<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <title>RFQPARTS.net</title>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">  
  <%= stylesheet_link_tag 'external_main' %>
  <%= stylesheet_link_tag 'external_custom' %>
  <%= stylesheet_link_tag 'external_jquery-ui' %>
  <meta class="foundation-data-attribute-namespace">
</head>
<body>

  <header class="t-header" id="app-header">
    <div class="row">
      <div class="large-12 columns">
        <nav class="top-bar" data-topbar="" role="navigation">
          <section class="top-bar-section">
            <div style="display: inline-block;font-size:24px;padding:10px;">RFQPARTS.NET</div>
            <ul class="right main-nav">
              <li class="">
                <a href="#" target="_self">Home</a>
              </li>
              <li class="">
                <a href="#" target="_self">Manufacturers</a>
              </li>
              <li class="">
                <a href="#" target="_self">Products</a>
              </li>
              <li class="">
                <a href="#" target="_self">Contact Us</a>
              </li>
              <li class="">
                <a style="color:#2c3e50;" href="#" target="_self">
                  (555) 555-5555
                </a>
              </li>
            </ul>
          </section>
        </nav>
      </div>
    </div>
  </header>

  <div class="main">

    <div style="background:#ececec;padding:10px;">
      <div class="row" style="float: none; margin-left: auto; margin-right: auto;">
        <h2>PC-6145B</h2>
      </div>
    </div>

    <div class="breadcrumbs">
      <div class="row" style="float: none; margin-left: auto; margin-right: auto;">
        <div class="large-12 columns">
          <ul class="list-inline">
            <li>Home</li>
            <li>Advantech</li>
            <li>PC-6145B</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="l-content l-content-secondary" itemscope itemtype="http://schema.org/Product">
      <div class="row">
        <div class="large-12 columns">
          <div class="row">
            <div class="large-12 columns">
              <div class="row" style="overflow-x: hidden;" >
                <div id="rfq-slider-area" class="large-18 columns">
                <div class="medium-4 columns">
                  <img src="images/placeholder.png" alt="Placeholder Image" style="float:left;width:400px;height:400px;" />
                </div>
                <div class="medium-4 columns">
                  <div class="copy copy-single">
                    <strong itemprop="manufacturer">Advantech</strong>
                    <h3 itemprop="name" style="font-size:40px;">PC-6145B</h3>
                    <h3 style="font-size:18px;display: inline-block;">  
                      Quantity in stock:
                    </h3>

                    <div style="font-size:18px;display:inline-block;color:#0e78b8;font-weight:bold">
                      Available
                      <span class="icon-check" style="font-family: FontAwesome;color:green;font-size:18px"></span>
                    </div>

                    <div style="margin:20px 0">
                      <p itemprop="description">
                      Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget ullamcorper nunc, sed elementum neque. Ut mattis dictum augue. Proin tincidunt rutrum lorem et faucibus. Proin vehicula lacus felis, ac blandit neque fringilla eu. Praesent facilisis massa tempus augue sagittis ultricies. Maecenas quis blandit lacus. Aenean cursus placerat diam, rhoncus fringilla felis interdum eu. Proin suscipit, tortor sed fermentum dictum, nisl dolor tempor neque, vel ultrices orci odio in tellus. charset vulputate eget libero ac interdum.
                      </p>
                    </div>

                    <div id="rfq-button" class="btn" style="background-color:#26A65B;">Request for Quote</div>
                  </div>


                </div>

                <div id="form-panel" class="medium-4 columns">
                  <div class="" style="padding:20px;background:#efefef;border:1px solid #ddd;">
                    <h3>Request Quote</h3>
                    <div class="input-group">
                      <label style="padding:5px">Name</label>
                      <input type="text" placeholder="Name">
                    </div>
                    <div class="input-group">
                      <label style="padding:5px">Email</label>
                      <input type="text" placeholder="Email">
                    </div>
                    <div class="input-group">
                      <label style="padding:5px">Company</label>
                      <input type="text" placeholder="Company">
                    </div>
                    <div class="input-group">
                      <label style="padding:5px">Phone</label>
                      <input type="number" placeholder="Phone">
                    </div>
                    <div class="input-group">
                      <label style="padding:5px">Quantity</label>
                      <input style="width:60px" type="number" placeholder="1">
                    </div>
                    <div class="input-group">
                      <label style="padding:5px">Comments:</label>
                      <textarea name="comments" cols="40" rows="10"></textarea>
                    </div>
                    <div id="rfq-button" class="btn-sm">Submit</div>
                  </div>
                </div>

              </div>

              <div class="clearfix"></div>
              <div class="group group-anchor" id="details">
                <h2>Details</h2>
                <table cellpadding="0" cellspacing="0" style="width: 100%;">
                  <thead></thead>
                  <tbody>
                    <tr>
                      <td><b>Product</b></td>
                      <td>PC-6145B</td>
                    </tr>
                    <tr>
                      <td><b>Make</b></td>
                      <td>Advantech
                      </td>
                    </tr>
                    <tr>
                      <td><b>Base</b></td>
                      <td>
                        PCA-6145B
                      </td>
                    </tr>
                    <tr>
                      <td><b>Type</b></td>
                      <td>Single Board Computer</td>
                    </tr>
                    <tr>
                      <td><b>Lead Time</b></td>
                      <td>Available</td>
                    </tr>
                    <tr>
                      <td><b>Quantity in Stock</b></td>
                      <td>Available</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="group group-anchor" id="specs">
                <h2>Specs</h2>
                <table cellpadding="0" cellspacing="0" style="width: 100%;">
                  <tbody>
                    <tr>
                      <td><b>BIOS</b></td>
                      <td>AWARD Flash BIOS, supports plug & play</td>
                    </tr>
                    <tr>
                      <td><b>Board size</b></td>
                      <td>185 mm x 122 mm<br>
                      7.3" (L) x 4.8" (W) (185 mm x 122 mm)</td>
                    </tr>
                    <tr>
                      <td><b>Board weight</b></td>
                      <td>0.5 kg(1.2 lb.)</td>
                    </tr>
                    <tr>
                      <td><b>Boot ROM</b></td>
                      <td>Built-in system BIOS (optional)</td>
                    </tr>
                    <tr>
                      <td><b>Chipset</b></td>
                      <td>VIA VT82C496G</td>
                    </tr>
                    <tr>
                      <td><b>Connector</b></td>
                      <td>RJ-45</td>
                    </tr>
                    <tr>
                      <td><b>Controller</b></td>
                      <td>UMC UM9008, built-in 8 KB x 16 SRAM; I/O address switchless setting; Software compatible with NE-2000; Loopback capability for diagnostics<br>
                      VL-bus C&T 65545 VGA controller with Windows accelerator</td>
                    </tr>
                    <tr>
                      <td><b>CPU</b></td>
                      <td>Intel 80486DX/DX2/DX4 series; AMD 80486DX2/DX4 series, 5x86-133; Cyrix 80486DX2/DX4 series, 5x86-100/120</td>
                    </tr>
                    <tr>
                      <td><b>Display BIOS</b></td>
                      <td>Default CRT/Toshiba TFT panel BIOS,Flash BIOS can be easily updated</td>
                    </tr>
                    <tr>
                      <td><b>Display memory</b></td>
                      <td>1 MB on-board DRAM</td>
                    </tr>
                    <tr>
                      <td><b>Display output</b></td>
                      <td>DB-15 VGA connector, 22 x 2-pin header general purpose flat panel display connector</td>
                    </tr>
                    <tr>
                      <td><b>Display resolution</b></td>
                      <td>Supports resolutions up to 1280 x 1024; Non-interlaced CRT display up to 1024 x 768 with 256 colors; Flat panel display up to 640 x 480 resolution; Support True-color and Hi-color display capability</td>
                    </tr>
                    <tr>
                      <td><b>EIDE interface</b></td>
                      <td>Supports up to two IDE devices. BIOS supports up to 8.4 GB HDD. 32-bit host data transfer, PIO Mode 3 transfer capabilities (&gt;10 MB/sec)</td>
                    </tr>
                    <tr>
                      <td><b>Flash Backup</b></td>
                      <td>CMOS Data</td>
                    </tr>
                    <tr>
                      <td><b>Floppy disk drive interface</b></td>
                      <td>Supports up to two floppy disk drives, 5¼” (360 KB and 1.2 MB) and/or 3½” (720 KB, 1.44 MB, and 2.88 MB)</td>
                    </tr>
                    <tr>
                      <td><b>Green function</b></td>
                      <td>Supports power management option via BIOS, activated by keyboard or mouse activity. Supports doze, sleep, and suspended mode. APM 1.1 compliant</td>
                    </tr>
                    <tr>
                      <td><b>Humidity</b></td>
                      <td>5 to 95%, non-condensing</td>
                    </tr>
                    <tr>
                      <td><b>I/O bus expansion</b></td>
                      <td>PC/104 connector with face-up installation</td>
                    </tr>
                    <tr>
                      <td><b>Keyboard/mouse connector</b></td>
                      <td>Mini DIN connector for keyboard and PS/2 mouse, 5-pin male keyboard connector is also available</td>
                    </tr>
                    <tr>
                      <td><b>Max. power requirements</b></td>
                      <td>+5 V, 3.5 A</td>
                    </tr>
                    <tr>
                      <td><b>Parallel port</b></td>
                      <td>One enhanced parallel port, supports EPP/ECP parallel mode</td>
                    </tr>
                    <tr>
                      <td><b>Power supply voltage</b></td>
                      <td>+5 V (4.75 V to 5.25 V)</td>
                    </tr>
                    <tr>
                      <td><b>RAM</b></td>
                      <td>1MB to 32MB, one 72-pin SIMM socket, accepts 1, 2, 4, 8, 16, & 32MB SIMMs & EDO RAM</td>
                    </tr>
                    <tr>
                      <td><b>Secondary level cache</b></td>
                      <td>128 KB</td>
                    </tr>
                    <tr>
                      <td><b>Serial ports</b></td>
                      <td>Two 16C550 UARTs, one RS-232, one RS-232/422/485 interface</td>
                    </tr>
                    <tr>
                      <td><b>SSD</b></td>
                      <td>Supports M-systems DiskOnChip 2000 flash disk</td>
                    </tr>
                    <tr>
                      <td><b>Temperature</b></td>
                      <td>Operating:32 ~ 140°F (0 ~ 60°C); Storage:-40 ~ +176°F (-40 ~ +80°C)</td>
                    </tr>
                    <tr>
                      <td><b>Watchdog timer</b></td>
                      <td>63-level timer interval, with jumperless setup, generates system reset or IRQ15</td>
                    </tr>
                    <tr>
                      <td><b>System Chipset</b></td>
                      <td>VIA VT82C496G</td>
                    </tr>
                    <tr>
                      <td><b>Form Factor</b></td>
                      <td>Half-Size ISA</td>
                    </tr>
                    <tr>
                      <td><b>Ethernet Chipset</b></td>
                      <td>C&T 65545</td>
                    </tr>
                    <tr>
                      <td><b>Video Chipset</b></td>
                      <td>C&T 65545</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="group group-anchor" id="features">
                <h2>Features</h2>
                <div class="copy copy-single">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis est nec nibh malesuada, sit amet scelerisque orci sagittis. Cras dictum erat tortor, eu rutrum quam tincidunt et. Nullam quis nunc at risus lobortis venenatis et sit amet ex. Vivamus egestas at velit condimentum pulvinar. Aliquam cursus tortor vitae tempor vulputate. Vivamus eu lobortis sapien, sed rhoncus lectus. Nullam in dignissim felis. Donec volutpat neque id dolor egestas dignissim. Nam eget vulputate purus. Proin eu facilisis massa. Vivamus lacinia lacus libero, quis elementum eros ornare eget. Cras venenatis sem lorem, a vulputate nisi mattis ac. In eu lorem sed quam suscipit sagittis.
                </div>
              </div>
              <div class="group group-anchor" id="manual">
                <h2>Manual</h2>
                <div class="copy copy-single">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis est nec nibh malesuada, sit amet scelerisque orci sagittis. Cras dictum erat tortor, eu rutrum quam tincidunt et. Nullam quis nunc at risus lobortis venenatis et sit amet ex. Vivamus egestas at velit condimentum pulvinar. Aliquam cursus tortor vitae tempor vulputate. Vivamus eu lobortis sapien, sed rhoncus lectus. Nullam in dignissim felis. Donec volutpat neque id dolor egestas dignissim. Nam eget vulputate purus. Proin eu facilisis massa. Vivamus lacinia lacus libero, quis elementum eros ornare eget. Cras venenatis sem lorem, a vulputate nisi mattis ac. In eu lorem sed quam suscipit sagittis.
                </div>
              </div>
              <div class="group group-anchor" id="faqs">
                <h2>FAQs</h2>
                <br/>
                <div class="copy copy-single">
                  <ol style="list-style: none;">
                    <li>
                      <strong>Which types of payments do you accept?</strong>
                      <p>All major credit cards, PayPal, checks, and wire transfer.</p>
                    </li>
                    <li><strong>Can you ship worldwide?</strong>
                      <p>Yes, and we may do so on your account as well. We ship via UPS, FedEx, and DHL. We also work with freight forwarders upon request.</p> 
                    </li>
                    <li>
                      <strong>How quickly can I receive my order?</strong>
                      <p>Standard delivery is 3-5 business days. Expedited delivery is available on a case by case basis.</p>
                    </li>
                    <li>
                      <strong>What warranty will my item come with?</strong>
                      <p>Our standard warranty is 30 days. Some products may come with a longer protection plan.</p>
                    </li>
                    <li>
                      <strong>I am looking for an item not on your site, can you help me?</strong>
                      <p>Absolutely, contact us with your requirements.</p>
                    </li>
                    <li>
                      <strong>Do you offer repair service?</strong>
                      <p>Yes, we are readily able to support the disassembly, inspection, and restoration of your industrial components in a practical, cost-saving manner.</p>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="t-footer">
    <div class="copyright">
    </div>
  </footer>
  <div class="hide"><img alt="Spinner" src="spin.gif"></div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script type="text/javascript">
    $(document).ready(function(){
      $('#rfq-button').click(function(){

        if( !$(this).hasClass('open') ){
          $('#rfq-slider-area').animate({
            marginLeft: "-50%"
          },400);
          $('#form-panel').show();
          $(this)
            .addClass("open")
            .html("Back to product image");
        }else{
          $('#rfq-slider-area').animate({
            marginLeft: "0%"
          },400);
          setTimeout(function(){
            $('#form-panel').hide();
          },400)
          $(this)
            .removeClass("open")
            .html("Request for Quote");
        }
        
      });
    });
  </script>

  <script type="text/javascript">
      (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
              (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date(); a = s.createElement(o),
          m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-59152861-2', 'auto');
      ga('send', 'pageview');
  </script>
  <script type="application/ld+json">
      {
          "@context": "http://schema.org",
          "@type": "WebSite",
          "name": "rfqparts.net",
          "url": "https://rfqparts.net/"
      }
  </script>
  <script type="application/ld+json">
      {
          "@context": "http://schema.org",
          "@type": "WebSite",
          "url": "https://www.rfqparts.net/",
          "potentialAction": {
              "@type": "SearchAction",
              "target": "https://www.rfqparts.net/products?_search={search_term_string}*",
              "query-input": {
                  "@type": "PropertyValueSpecification",
                  "valueRequired": true,
                  "valueMaxLength": 100,
                  "valueName": "search_term_string"
              }
          }
      }
  </script>
</body>
</html>