// Place all the styles related to the Parts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.parts-table th {
  width: 20%;
}

table.parts-table th.part-number {
  width: 25%
}

.pagination-container {
  height: 21px;
  clear: both;
  margin: 10px;
}
.pagination {
  width: 100%;
  text-align: center;
  margin: 0 !important;
}
#parts_search {
  position: absolute;
  right: 0;
}